:root {
    --message-image-max-width: 5%;
}

* {
    box-sizing: border-box;
    -webkit-user-drag: none;
}

body {
    font-family: monospace;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

::selection {
    background: darkgray;
    color: lightgray;
}

div#chat {
    display: none;
}

div.main {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
}

div.controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
}

input[type=range] {
    margin: 0;
    appearance: none;
    -webkit-appearance: none;
    height: 3em;
    background: none;
    outline: none;
    opacity: 0.5;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 5rem;
    height: 0.25rem;
    background: #ddd;
    border: none;
    border-radius: 2px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background: gray;
    margin-top: -0.33rem;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

div#image-container {
    height: 350px;
    border: 1px solid gray;
}

img#image {
    max-width: 100%;
    max-height: 350px;
}

input#image-number {
    border-radius: 2px;
    width: 2rem;
    text-align: center;
    background: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    border-radius: 2px;
    border: 1px solid gray;
    background: none;
}

button:active {
    border: 1px solid darkgray;
}

div#tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

div#options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

div#messages {
    width: 620px;
    height: 350px;
    max-width: 620px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.1rem;
    border: 1px solid gray;
    overflow: auto;
    overflow-wrap: anywhere;
    white-space: pre-line;
}

input#type-message {
    border-radius: 2px;
    width: 24rem;
    text-align: left;
    background: none;
}

div#footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.message {
    margin: 0.05rem 0;
}

::-webkit-scrollbar {
    width: 0.25rem;
}

::-webkit-scrollbar-track {
    background: gray;
}

::-webkit-scrollbar-thumb {
    background: darkgray;
}

img.message-image {
    display: block;
    max-width: var(--message-image-max-width);
}

input:not([type="range"]) {
    outline: none;
    border: 1px solid gray;
}

input:not([type="range"]):focus {
    border: 1px solid darkgray;
}
